<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH NEWS</title>
</head>
<body>
    <h1>DH NEWS </h1> 
    <h4>postado em 08/07/2021</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fuga placeat nisi, asperiores maiores similique obcaecati eaque odit omnis sunt sed itaque rerum explicabo at delectus quisquam blanditiis neque. Sunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, ex. Corrupti, accusamus laborum. Accusantium, numquam, labore repellat dolores repudiandae optio, quod pariatur rerum animi iusto doloremque mollitia nobis ipsam inventore.</p>
    <img class ="center" src="/img/destaque.webp" alt="">

    <h2><b>Lorem ipsum dolor sit amet consectetur adipisicing elit</b></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fuga placeat nisi, asperiores maiores similique obcaecati eaque odit omnis sunt sed itaque rerum explicabo at delectus quisquam blanditiis neque. Sunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, ex. Corrupti, accusamus laborum. Accusantium, numquam, labore repellat dolores repudiandae optio, quod pariatur rerum animi iusto doloremque mollitia nobis ipsam inventore.</p>

        <ul>1. Lorem, ipsum dolor sit </ul>
        <ul>2. Lorem, ipsum dolor sit </ul>
        <ul>3. Lorem, ipsum dolor sit </ul>
</body>
</html>