<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/cabecalho.css" />
   
    <title>Depoimentos</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>

     <% depoimentos.forEach( depoimentos => { %>
       
      <div>
        <h3> <%= depoimentos.titulo %> </h3>
        <p> <%= depoimentos.descricao  %></p>
        <b> <%= depoimentos .autor %> </b>
      </div>

     <% }); %>

    </main>
  </body>
</html>


