<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia DevHouse</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/home.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    
    <%- include('components/header') %>
    <section class="banner">
      <% let nome = "Ruan" %>
      <h1><%= titulo %></h1>
      <p>Podemos alavancar seu negocio</p>
      <div>
        <button class="button-padrao">Conheça Agora</button>
        <button class="button-padrao">Entre em contato</button>
      </div>
    </p>
      <img src="/img/banner.png" alt="Banner 1" title="banner-1" />

    </section>
    <section class="banner-2">
      <h1>banner 2</h1>

    </section>
    <a id="atendimento">
      Chat com a area de vendas
    </a>
  </body>
</html>
