<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Agencia DevHouse</title>
</head>
<body>
    <h1>Olá seja bem vindo a agencia DevHouse!</h1>
    
    <main>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In consequuntur inventore aliquam nostrum possimus neque rerum numquam molestias necessitatibus aspernatur sint, dolorem ullam expedita sequi amet laudantium earum omnis doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto animi voluptates quod reprehenderit iure, perspiciatis facere dignissimos ad voluptatum enim laboriosam harum explicabo sit atque! Accusantium consequatur ducimus dignissimos tempora.</main>

    <img class ="center" src="/img/destaque.webp" alt="">
</body>
</html>